@import "tailwindcss";

@theme {
  --color-sax-red: #C84B3A;
  --color-sax-red-hover: #b03e2e;
  --color-primary-text: #111111;
  --color-secondary-text: #555555;
  --color-light-bg: #F5F5F5;
  --font-sans: 'Montserrat', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #111111;
}

body {
  background: var(--background);
  color: var(--foreground);
}
